
@import url('//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css');
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700);
/*@import url('http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic|Open+Sans:800');*/

body {background: url("squairy_light.png"); background-size: 200px 200px;} /* image courtesy of subtlepatterns.com */
a {color: black; background: rgba(255,255,255,0.3); border: 1px solid rgba(0,0,0,0.1); padding: 0.2em 0.4em; border-radius: 0.2em;}
a.external {color: #0088cc; background: transparent; border: none; padding: 0;}
.container {max-width: 800px}
.logo {text-align: right;}
.page-header {margin-bottom: -2em; border-bottom: none;}
h1, h2, p, pre {margin: 1.4rem auto; line-height: 1.4; text-shadow: 0 1px 0 rgba(255,255,255,0.6);}
h1 {line-height: 1.2;}
h2 {}
pre, code {
	color: black;
	background: rgba(153,153,153,0.3);
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.08) inset, 0 0 40px rgba(0, 0, 0, 0.08) inset;
/*	border-color: rgba(0,0,0,0.03);*/
	border: none;
	font-family: "Ubuntu Mono","Monaco","Menlo","Consolas","Courier New",monospace;
	text-shadow: 0 1px 0 rgba(255,255,255,0.3);
}
blockquote {
	border-left-color: rgba(0,0,0,0.2);
}
ul.unstyled.indented {padding-left: 2.2em;}

@media (min-width: 420px) {
body {margin: 0; padding: 0;}
pre {font-size: 1.1em;}
.logo img {margin-right: 10%}
.container {padding: 20px}
/*.stripe {padding: 2em 0;}*/
.stripe.dark {background: rgba(0,0,0,0.1);}
}
