
Options +FollowSymLinks +ExecCGI

AddHandler cgi-script .cgi

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ /help.cgi [QSA,L]
RewriteRule ^$ /help.cgi [QSA,L]

