
Options +FollowSymLinks +ExecCGI

AddHandler cgi-script .cgi

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ /cgi-bin/help.cgi [QSA,L]
RewriteRule ^$ /cgi-bin/help.cgi [QSA,L]

